span{
    color: green;
    font-size: 50px;
font-weight: 500px;
}
p{
    color: blue;
    text-align: start;
    font-size: 30px;
    font-weight: 500px;
}
body{
    background-color: aqua;
}
.bishkek_kgz_country{
    color: red;
}                               
#country{
    color: red;
}
.image{
    width: 400px;
}    
.image{
    width: 400px;
}
.image{
    width: 400px;
}
.image{
    width: 400px;
}
.image{
 width: 400px;
}
li{
    color: black;
    font-size: 20px;
    font-weight: 100px;
}
.image{
    width: 400px;
}
.image{
    width: 400px;
}